.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Storage
/storage
/uploads

# Database
*.db
*.db-shm
*.db-wal

# Test coverage
/coverage
/playwright-report
test-results.json
!.husky
mutation-report.html
.stryker-tmp/
reports/